@import url('https://fonts.googleapis.com/css2?family=Mitr&family=Paytone+One&family=Permanent+Marker&family=Roboto:wght@400;500;700;900&family=Rubik&family=Sedgwick+Ave+Display&family=Wendy+One&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.controls {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    align-items: center;
}
span {
    font-size: 1.6rem;
    color: #e5e7eb;
    font-weight: 700;
    letter-spacing: 1px;
}

input {
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.2rem;
}
#restart-button {
    background-color: #dc2626;
    color: #e5e7eb ;
    font-weight: 700;
}
#start-button {
    background-color: #06b6d4;
    color: #e5e7eb ;
    font-weight: 700;
}
input:hover {
    border: 3px solid #4ade80 ;
}
button {
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;

}
button:hover {
    transform: scale(1.1);
}
body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    background-color: #94a3b8;
}
.square {
    font-size: 10rem ; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Permanent Marker', cursive , sans-serif;
    border: 6px solid #e5e7eb ;
    cursor: pointer;
    color: #f59e0b ;
}

.game-board {
    border: 6px solid #e5e7eb;
    border-radius: 10px;
    display: grid; 
    grid-template-columns: repeat(3,minmax(50px , 200px)); 
    grid-template-rows: repeat(3,minmax(50px , 200px)); 
    background-color: #0f172a ; 
}; 


